@font-face {
font-family: 'IranNastaliq';
src: url('http://fontonline.ir/fonts/IranNastaliq.eot?#') format('eot'),
url('../fonts/IranNastaliq.ttf') format('truetype'),
url('http://fontonline.ir/fonts/IranNastaliq.woff') format('woff');
}
body {
  background: #f6f5ee;
  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
   /*font-family: 'Cinzel', serif;*/
}

h1, h2, h3, h4{
	  font-family: 'Lobster', cursive;
	  color: #444;
}
p{
	font-family: 'Roboto', sans-serif;
}

.fig {
 display: block;
 width: 100%;
  padding: 15%;
}
@media(max-width: 1200px){
 .fig{
  padding: 10%;
 }
}


.fig .smalli {
 padding: 8%;
 background-color: #f8f8f8;
 box-shadow:
  inset 0px 8px .5em rgba(0,0,0,.25),
  inset .1em 0px .1em rgba(0,0,0,.1),
  inset -0.1em 0px .1em rgba(0,0,0,.05),
  0 .3em .2em #fff;
 background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

.fig .bigi {

 padding: 2%;
 background: #f8f8f8;
 box-shadow:
  0px 1em 2em -1em rgba(0,0,0,.4),
  0px 2em 2em -1em rgba(0,0,0,.3),
  0px 3em 2em -1em rgba(0,0,0,.2),
  0px 4em 1.5em -1em rgba(0,0,0,.15),
  0px 2em 4em .5em rgba(0,0,0,.1),
  inset 0 .2em .1em #fff;
}

.wrapper{
 width: auto;
 position: relative;
 float: none;
 padding-top: 161%;
 box-shadow: inset 0px .3em .1em rgba(0,0,0,.2);
} 
 .card{
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
 }

 .face {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  /*background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;*/
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.01) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  z-index: 100;
  content: "";
}
.face.front .title-wrapper {
  color: #FFF;

  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}
.face.front .title-wrapper .title {
 font-family: 'Cinzel', serif;	
 color: #000;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.face.front .title-wrapper .title::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #000;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}
.face.front .title-wrapper .subtitle {
  font-family: IranNastaliq,'IranNastaliq',tahoma;
 color: #000;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.face.front:hover::before {
  opacity: 0.9;
}
.face.front:hover .title-wrapper {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.face.front:hover .title-wrapper .title {
  opacity: 1;
}
.face.front:hover .title-wrapper .title::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.face.front:hover .title-wrapper .subtitle {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
/*--------------------Details Sections --------------------------------*/
.back-btn {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #555;
}

@media(min-width: 1200px){
	#details{
		padding-top: 5%;
	}
}

.btn{
	color: #444;
}
.copyright{
	color: #444;
	float: right; 
	bottom: 0;
}
@media(min-width: 1200px){
	.copyright{
	position: fixed;
	right: 10px;
	}
}