@font-face {
font-family: 'IranNastaliq';
src: url('http://fontonline.ir/fonts/IranNastaliq.eot?#') format('eot'),
url('../fonts/IranNastaliq.ttf') format('truetype'),
url('http://fontonline.ir/fonts/IranNastaliq.woff') format('woff');
}
body {
  background: #f6f5ee;
  font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
   /*font-family: 'Cinzel', serif;*/
}

h1, h2, h3, h4{
	  font-family: 'Lobster', cursive;
	  color: #444;
}
p{
	font-family: 'Roboto', sans-serif;
}

.fig {
 display: block;
 width: 100%;
  padding: 15%;
}
@media(max-width: 1200px){
 .fig{
  padding: 10%;
 }
}


.fig .smalli {
 padding: 8%;
 background-color: #f8f8f8;
 box-shadow:
  inset 0px 8px .5em rgba(0,0,0,.25),
  inset .1em 0px .1em rgba(0,0,0,.1),
  inset -0.1em 0px .1em rgba(0,0,0,.05),
  0 .3em .2em #fff;
 background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
 background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

.fig .bigi {

 padding: 2%;
 background: #f8f8f8;
 box-shadow:
  0px 1em 2em -1em rgba(0,0,0,.4),
  0px 2em 2em -1em rgba(0,0,0,.3),
  0px 3em 2em -1em rgba(0,0,0,.2),
  0px 4em 1.5em -1em rgba(0,0,0,.15),
  0px 2em 4em .5em rgba(0,0,0,.1),
  inset 0 .2em .1em #fff;
}

.wrapper{
 width: auto;
 position: relative;
 float: none;
 padding-top: 161%;
 box-shadow: inset 0px .3em .1em rgba(0,0,0,.2);
   cursor:pointer;

} 
 .card{
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
 }

 .face {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  /*background: linear-gradient(45deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 100%) no-repeat;*/
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.01) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  z-index: 100;
  content: "";
}
.face.front .title-wrapper {
  color: #FFF;

  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
}
.face.front .title-wrapper .title {
 font-family: 'Cinzel', serif;	
 color: #000;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.face.front .title-wrapper .title::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #000;
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}
.face.front .title-wrapper .subtitle {
  font-family: IranNastaliq,'IranNastaliq',tahoma;
 color: #000;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.face.front:hover::before {
  opacity: 0.9;
}
.face.front:hover .title-wrapper {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.face.front:hover .title-wrapper .title {
  opacity: 1;
}
.face.front:hover .title-wrapper .title::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.face.front:hover .title-wrapper .subtitle {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
/*--------------------Details Sections --------------------------------*/
.back-btn {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #555;
  cursor:pointer;
  margin-top: 3rem;
}

@media(min-width: 1200px){
	#details{
		padding-top: 5%;
	}
}

.btn{
	color: #444;
}
.copyright{
	color: #444;
	float: right; 
	bottom: 0;
}
@media(min-width: 1200px){
	.copyright{
	position: fixed;
	right: 10px;
	}
}

p a{
	font-style: italic;
}
.btn:hover{
	color: #1c99a6;
}

.platform{
	position: absolute;
	background-color: #fbfafa;
	width: 90%;
	height:1rem;
	 box-shadow:
1em 1em 2em 0em rgba(0,0,0,.4), 1em 1em 1em 0em rgba(0,0,0,.3), 1em 1em 2em -1em rgba(0,0,0,.2), -3em 4em 1.5em -1em rgba(0,0,0,.15), 0px 2em 4em 0.5em rgba(0,0,0,.1);
}
@media(max-width: 1200px){
	.platform{
		width: 100%;
	}
}

.fig-1 {
 display: inline-block;
 width: 10%;
 transform: rotateX(25deg);
 margin-left: 2%;
 transform-origin: bottom;

}
@media(max-width: 1200px){
 .fig-1{
 width: 30%;
 }
}

.fig-horizental{
	width: 24%;

}

.fig-1 .bigi-1 {

 background: #666;
 box-shadow:
1em 1em 1em 0em rgba(0,0,0,.4), 
2em 0em 2em -1em rgba(0,0,0,.3), 
1em 0em 1em -1em rgba(0,0,0,.2), 
1em 2em 1.5em -1em rgba(0,0,0,.15), 
1em 0em 1em -0.5em rgba(0,0,0,.1),
  inset 0 .2em .2em #000;
}


.bigi-vertical{
 padding: 4%;
}

.bigi-horizental{
 padding: 4%;
}

.wrapper-1{
 width: auto;
 position: relative;
 float: none;
 padding-top: 161%;
 box-shadow: inset 0px .3em .1em rgba(0,0,0,.2);
   cursor:pointer;

}

.wrapper-horizental{
 padding-top: 62.11%;	
} 
 .card-1{
  color: #FFF;
  display: block;
  float: left;
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
 }

 .face-1 {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.face.front-1 {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*.shelf{
	float: left;
}
.shelf:nth-child(even){
	float: right;
}*/

.frame-wrapper{
	display: flex;
/*			perspective: 80rem;
	perspective-origin: 100% 100%;*/
}

.row-shelves{
	margin-top: 10%
}

.porto{
	margin-top: auto;
	margin-left: 5%;
	transform: rotateX(25deg);
	transform-origin: bottom;
		 text-shadow: 
0.2em 0.1em 0.2em rgba(0, 0, 0, .65),
2em 0em 2em  rgba(0,0,0,.3), 
1em 0em 1em  rgba(0,0,0,.2), 
1em 2em 1.5em  rgba(0,0,0,.15), 
1em 0em 1em  rgba(0,0,0,.1);
}
@media(max-width: 1200px){
	.porto{
		font-size: 12vw;
		margin-right: 1vh;
		margin-left: 0vh;
	}
}



@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g9doyr');
  src:  url('../fonts/icomoon.eot?g9doyr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g9doyr') format('truetype'),
    url('../fonts/icomoon.woff?g9doyr') format('woff'),
    url('../fonts/icomoon.svg?g9doyr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e902";
  color: #00d0ff;
    cursor: pointer;
}
.icon-adobeillustrator:before {
  content: "\e903";
  color: #ff7c00;
}
.icon-adobephotoshop:before {
  content: "\e904";
  color: #00c8ff;
}
.icon-bootstrap:before {
  content: "\e905";
  color: #563d7c;
}
.icon-csharp:before {
  content: "\e906";
  color: #239120;
}
.icon-flask:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e908";
  cursor: pointer;
  color: #333;
}
.icon-jquery:before {
  content: "\e900";
  color: #0769ad;
}
.icon-keras:before {
  content: "\e909";
  color: #d00000;
}
.icon-latex:before {
  content: "\e90a";
  color: #008080;
}
.icon-mathworks:before {
  content: "\e90b";
  color: #0076a8;
}
.icon-node-dot-js:before {
  content: "\e90c";
  color: #393;
}
.icon-php:before {
	border: solid 3px;
  content: "\e90d";
  color: #777bb4;
  /*line-height: 50px;*/
}
.icon-python:before {
  content: "\e90e";
  color: #3776ab;
}
.icon-telegram1:before {
  content: "\e90f";
  color: #2ca5e0;
  	border: solid 3px;
  	/*border-radius: 100%;*/
}
.icon-tensorflow:before {
  content: "\e910";
  color: #ff6f00;
}
.icon-wordpress:before {
  content: "\e901";
  color: #21759b;
}
.icon-arduino:before {
		border: solid 3px;
	  /*line-height: 50px;*/
  content: "\e911";
  color: #00979d;
}
.icon-javascript:before {
  content: "\e912";
  color: #f7df1e;
}
@media(min-width: 1200px){
		.six-items{
	}
	.six-items .icon-arduino:before{
		/*line-height: 70px*/
	}
	.icon-arduino:before, .icon-php:before {
		/*line-height: 85px;*/
	}
}



@media(min-width: 990px){
#sec-about{
margin-right: 10%;
}}